:root {
  --primary-color: rgb(13, 106, 134);
  --primary-color-dark: rgb(9, 86, 56);
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}

.container {
  background: white;
  max-width: 640px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}

.relogio {
  font-size: 3rem;
}

.pausado {
  color: red;
}